// Loads all the modules
@import 'colors';
@import 'normalize';
@import 'utils';
@import 'grid';
@import 'fixes';
@import 'fonts';

.btn{
  cursor: pointer;
  display: inline-block;
  color:#ffffff;
  background-color:#99c873;
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  text-decoration: none;
  padding: 0 15px;
  border-radius: 3px;
  border: none;
  &:hover{
    background-color:#99c999;
  }
  &.transparent{
    border: 1px solid #99c873;
    background-color: transparent;
    color:#99c873;
    &:hover{
      border-color:#99c999;
      background-color:#99c999;
      color: #ffffff;
    }
  }
}