// Modules and Variables
$desktop-breakpoint: 767px;
$desktop-padding: 12px;
$desktop-base-font-size: 12px;


// Load all modules
@import 'modules/all';

$slick-font-path: "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/" !default;
$slick-arrow-color: black !default;
@import "node_modules/slick-slider/slick/slick.scss";
@import "node_modules/slick-slider/slick/slick-theme.scss";


// Partials
@import 'partials/structure';
@import 'partials/forms';
@import 'partials/navigation';




.sliderSection{
  background-image: url(../images/BG.jpg);
  background-color:#ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  .wrapper{
    display: block;
  }
  .slick-dots{
    bottom: -20px;
    li{
      margin: 0;
      button{
        &:before{
          color:#dddddd;
          opacity: 1;
          font-size: 10px;
        }
      }
      &.slick-active{
        button{
          &:before{
            color:#6397aa;
          }
        }
      }
    }
  }
  .sliderBlock{
    .sliderItem{
      .imgWrap{
        img{
          display: block;
          max-width:100%;
          max-height: 100%;
        }
      }
    }
  }
}

.contentItem{
  text-decoration: none;
  position: relative;
  .imgWrap{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 215px;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    overflow: hidden;

    &:before{
      content: '';
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: rgba(0,0,0,.5);
      position: absolute;
      bottom: 10px;
      left: -27px;
      transition: all .5s ease-in-out;
    }
    &:hover{
      &:before{
        width: 96px;
        height: 96px;
      }
    }
    @include breakpoint('small'){
      height: 55vw;
    }
  }
  .priceEl{
    position: absolute;
    bottom: 60px;
    left: -8px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #d52b2b;
    color:#ffffff;
    text-align:center;
    font-size: 12px;
    padding-top: 10px;
    &:first-line{
      font-size: 14px;
    }
  }
  .shippingEl{
    position: absolute;
    bottom: 60px;
    left: 35px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ff9000;
    color:#ffffff;
    text-align: center;
    font-size: 9px;
    padding-top: 10px;
    text-transform: uppercase;
    &:first-line{
      font-size: 14px;
    }
  }
  .newEl{
    position: absolute;
    bottom: 60px;
    left: 5px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffd800;
    color:#ffffff;
    text-align: center;
    font-size: 14px;
    padding-top: 18px;
    text-transform: uppercase;
  }
  .textWrap{
    display: flex;
    justify-content: space-between;
    .itemTitle{
      font-size: 14px;
      line-height: 18px;
    }
    .itemStock{
      font-size: 14px;
      color:#627b92;
    }
  }
}

.mainContentSection{
  padding-top: 25px;
  padding-bottom: 30px;
  background-color:#f3fcff;

  .wrapper{
    overflow: unset;
    justify-content: space-between;
    .asideBar{
      flex: 0 0 12%;
      h2.title{
        margin: 0;
        margin-bottom: 30px;
        font-size: 22px;
        color:#333333;
      }
      .categoryList{
        .menu{
          display: block;
          li{
            padding: 0;
            border: none;
            line-height: 26px;
            margin-left: -5px;
            a{
              padding: 5px;
              display: block;
              font-size: 14px;
              color:#325f70;
              text-decoration: none;
              &:hover{
                background-color:#6397aa;
                color:#ffffff;
              }
            }
          }
        }
      }
      @include breakpoint('small'){
        margin-bottom: 30px;
      }
    }
    .contentWrap{
      padding-top: 10px;
      flex: 0 0 74%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 5px;
      .contentItem{
        text-decoration: none;
        flex: 0 0 calc((100% / 3) - 20px);
        margin-bottom: 22px;
        @include breakpoint('large'){
          flex: 0 0 calc((100% / 2) - 15px);
        }
        @include breakpoint('small'){
          display: block;
          max-width: 85%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 30px;
        }
      }
      @include breakpoint('small'){
        display: block;
        margin-bottom: 30px;
      }
    }
    .btnWrap{
      margin-left: auto;
      flex: 0 0 74%;
      text-align: center;

    }
    @include breakpoint('small'){
      display: block;
    }
  }
}
.newItemsSection{
  padding-top: 26px;
  background-image: url(../images/BG.jpg);
  padding-bottom : 30px;
  .wrapper{
    overflow: unset;
  }
  h2.title{
    font-size: 22px;
    flex: 0 0 100%;
    margin: 0;
    margin-bottom: 15px;
  }
  .contentWrap{
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    .contentItem{
      text-decoration: none;
      flex: 0 0 calc((100% / 4) - 20px);
      @include breakpoint('large'){
        flex: 0 0 calc((100% / 2) - 15px);
        margin-bottom: 20px;
      }
      @include breakpoint('small'){
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
    @include breakpoint('large'){
      flex-wrap: wrap;
    }
    @include breakpoint('small'){
      display: block;
    }
  }
}

.advSection{
  padding-top: 25px;
  padding-bottom: 30px;
  background-image: url(../images/BG.jpg);
  .wrapper{
    justify-content: space-between;
    a{
      flex: 0 0 48%;
      text-decoration: none;
      h2.title{
        font-size: 21px;
        margin: 0;
        margin-bottom: 15px;
        @include breakpoint('small'){
          text-align: left;
        }
      }
      img{
        max-width: 100%;
        max-height: 100%;
      }
      @include breakpoint('small'){
        display: block;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    &:after{
      display: none;
    }
    @include breakpoint('small'){
      display: block;
    }
  }
}

.partnersSection{
  padding-top: 30px;
  background-image: url(../images/BG.jpg);
  padding-bottom: 30px;
  .wrapper{
    justify-content: space-between;
    flex-wrap: wrap;
    .imgWrap{
      @include breakpoint('medium'){
        flex: 0 0 calc(100% / 2);
        text-align: center;
        margin-bottom: 20px;
      }
      @include breakpoint('small'){
        flex: 0 0 100%;
      }
    }
    &:after{
      display: none;
    }
  }
}