// Modules and Variables
$desktop-breakpoint: 767px;
$desktop-padding: 12px;
$desktop-base-font-size: 12px;


// Load all modules
@import 'modules/all';

$slick-font-path: "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/" !default;
$slick-arrow-color: black !default;
@import "node_modules/slick-slider/slick/slick.scss";
@import "node_modules/slick-slider/slick/slick-theme.scss";


// Partials
@import 'partials/structure';
@import 'partials/forms';
@import 'partials/navigation';
@import 'partials/advSection';
@import 'partials/contentItem';
@import 'partials/mainContentSection';
@import 'partials/newItemsSection';
@import 'partials/sliderSection';
@import 'partials/partnersSection';